menu "BL0942 Energy Monitor"

config BL0942_ENABLE
    bool "Enable BL0942 driver"
    default y
    help
        Enables the BL0942 component and its configuration options.

config ESP_BL0942_UART_PORT
    int "UART port (0/1/2)"
    depends on BL0942_ENABLE
    default 0 if IDF_TARGET_ESP32C2
    default 2 if IDF_TARGET_ESP32
    default 1 if IDF_TARGET_ESP32C3
    range 0 2
    help
        UART port used to communicate with the BL0942.

config ESP_BL0942_UART_TX_GPIO
    int "BL0942 TX -> ESP RX GPIO (BL0942 TX/SDO pin)"
    depends on BL0942_ENABLE
    default -1 if IDF_TARGET_ESP32C2
    default 17 if IDF_TARGET_ESP32
    default 4 if IDF_TARGET_ESP32C3
    range -1 39
    help
        GPIO used as UART RX on the ESP side (connected to BL0942 TX).
        Use -1 to keep the UART's default pins.

config ESP_BL0942_UART_RX_GPIO
    int "BL0942 RX -> ESP TX GPIO (BL0942 RX/SDI pin)"
    depends on BL0942_ENABLE
    default -1 if IDF_TARGET_ESP32C2
    default 16 if IDF_TARGET_ESP32
    default 5 if IDF_TARGET_ESP32C3
    range -1 39
    help
        GPIO used as UART TX on the ESP side (connected to BL0942 RX).
        Use -1 to keep the UART's default pins.

config BL0942_UART_BAUD
    int "BL0942 UART baudrate"
    depends on BL0942_ENABLE
    default 4800
    range 4800 38400
    help
        UART baudrate. Must match BL0942 MODE[9:8] and SCLK_BPS pin.

config BL0942_ADDRESS
    int "BL0942 UART address (A2:A1)"
    depends on BL0942_ENABLE
    default 0
    range 0 3
    help
        For SSOP10 devices this is always 0. For TSSOP14 multi-drop UART,
        this matches pins A2_NCS and A1.

config BL0942_VREF_V
    string "BL0942 Vref voltage (V)"
    depends on BL0942_ENABLE
    default "1.218"

config BL0942_SHUNT_UOHM
    int "Shunt value (micro-ohms)"
    depends on BL0942_ENABLE
    default 1000
    range 1 100000000

config BL0942_V_DIV_RATIO
    string "Voltage divider ratio (Vpin_rms / Vline_rms)"
    depends on BL0942_ENABLE
    default "0.00100"

config BL0942_SAMPLE_PERIOD_MS
    int "Sample period (ms)"
    depends on BL0942_ENABLE
    default 1000
    range 250 60000

config BL0942_VOLTAGE_CAL
    string "Voltage calibration multiplier"
    depends on BL0942_ENABLE
    default "1.000"

config BL0942_CURRENT_CAL
    string "Current calibration multiplier"
    depends on BL0942_ENABLE
    default "1.000"

config BL0942_POWER_CAL
    string "Power calibration multiplier"
    depends on BL0942_ENABLE
    default "1.000"

endmenu
